<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dahar Apps</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Sacramento&family=Work+Sans:wght@100;300;400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav id="navbar" class="navbar">
      <a href="#" class="navbar-logo">Dahar Apps</a>
      <div class="navbar-nav">
        <a href="#home">Home</a>
        <a href="#favorite">Favorite</a>
        <a
          href="https://www.linkedin.com/in/imam-robain-a0706817a/"
          target="_blank"
          >About Us</a
        >
      </div>
      <a href="#" id="hamburger-menu" class="hamburger-menu">☰</a>
    </nav>

    <!-- Hero -->
    <section class="hero" id="home">
      <main class="content">
        <h1>Rasakan Sensasi Kuliner <span>Terbaik</span></h1>
        <p>
          "Dapatkan pengalaman kuliner yang luar biasa, dari hidangan ikonik
          hingga makanan yang langsung menghangatkan hati Anda."
        </p>
      </main>
    </section>

    <!--  -->
    <section class="headline-content">
      <h2 class="healine-tittle">Welcome</h2>
      <div class="row">
        <div class="content-img">
          <img src="../public/images/heros/hero-image_1.jpg" alt="Restaurant" />
        </div>
        <div class="headline-description">
          <h3>Dahar Apps</h3>
          <p>
            "Selamat datang di [Nama Restoran] — tempat di mana cita rasa
            memenuhi kenyamanan dalam setiap sajian. Kami mengundang Anda untuk
            merasakan perjalanan kuliner yang mengagumkan melalui menu kami yang
            dipenuhi dengan kelezatan dari berbagai penjuru dunia. Dari hidangan
            klasik yang timeless hingga inovasi kreatif yang menggoda selera,
            setiap hidangan kami diciptakan dengan cinta dan keahlian dari
            bahan-bahan berkualitas terbaik. Di sini, kami tak hanya menawarkan
            makanan lezat, tetapi juga memberikan pengalaman yang memanjakan
            lidah Anda dengan suasana yang hangat dan pelayanan yang ramah. Mari
            berbagi kenikmatan kuliner dan ciptakan kenangan indah bersama kami
            di [Nama Restoran]."
          </p>
        </div>
      </div>
    </section>

    <!-- Restaurant -->
    <div class="tag">
      <h2>Explore Restaurants</h2>
    </div>
    <section class="restaurant" id="restaurant">
      <!-- <h2>Explore Restaurant</h2> -->
      <!-- <div class="row"> -->
      <!-- <div class="restaurant-card"> -->
      <!-- <img src="" alt="" /> -->
      <!-- </div>
      </div> -->
    </section>

    <!--  -->

    <footer>
      <div class="links">
        <a href="#home">Home</a>
        <a href="#favorite">Favorite</a>
        <a href="#aboutUs">About Us</a>
      </div>
      <div class="credit">
        <p>Created By <a href="">Imam Robain</a>. | &copy; 2023.</p>
      </div>
    </footer>
  </body>
</html>
